:root {
  --main-color: #DCB1A1;
  --accent-color: #A97158;
  --dark-color: #212529;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

#home {
  background: linear-gradient(135deg, var(--main-color) 30%, #FFDBD8 100%);
  color: white;
}

.skill-icon {
  color: var(--accent-color);
}
.progress-bar {
  background-color: var(--accent-color) !important;
}

.submit-btn {
  background-color: var(--main-color);
  color: white;
  border: none;
}
.submit-btn:hover {
  background-color: var(--accent-color);
}

#backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
